<!DOCTYPE html>
<html lang="ru">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<title> {% block title %}{% endblock %} - Квест</title>
	{% endblock %}
<style>
	body {
		padding: 5%;
		margin: auto;
		max-width: 540px;
		font-family: 'Noto Sans', sans-serif;
		font-family: 'Source Sans Pro', sans-serif;
		background: #ffffdd;
	}
	#content {
		height: 300px;
		background: #ffffcc;
		overflow: scroll;
	}
</style>

<body>

<div>{% block content %}{% endblock %}</div>

</body>
</html>

