{% extends "base.html" %}

{% block title %} {{ title|e }} {% endblock %}

{% block content %}
	{% if user_input %}
		{% if is_user_wrong %}
			<div class="state wrong">
				<p>"{{ user_input }}" – это неправильный ответ 😔</p>
			</div>
		{% else %}
			<div class="state correct">
				<p>Йоу, "{{ user_input }}" – это правильно!</p>
			</div>
		{% endif %}
	{% endif %}

	<h1>{{ title|e }}</h1>

	<div class="content">
		<p>
			{{ content }}
		</p>
	</div>

	<div>
		<p>
			<form action="/view/{{ depth }}/" method="post" id="code_input">
				<input type="text" id="code" name="code" value="{{ code }}" class="code">
				<input type="submit" value="🚀" class="rocket">
			</form>
		</p>
	</div>

	<hr>
	<div class="progress">
		<p>
			Прогресс:
			<ol>
				{% for title in progress %}
					<li><a href="../{{ loop.index }}">{{ title|e }}</a></li>
				{% endfor %}
			</ol>
		</p>
	</div>

	<hr>
	<div class="load">
		<!-- Link which loads the progress to current level if a gamer needs help. -->
		<p>
			Волшебная <a href="{{ loadlink }}">ссылочка</a> для подзагрузки прогресса.
		</p>
	</div>

{% endblock %}

